@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body{
	/*overflow-x: hidden;*/
 	font-family: 'Lato', sans-serif;
	color: #505962;
	margin:0px;
	padding:0;
	background-image: url(img/image5.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;	
	background-size: cover;
}

/*nav{
	width:100%;
	background:rgba(80,80,80,0.2);
}
*/

.menu{
	width:100%;
	background:rgba(80,80,80,0.1);
	overflow:auto;
	font-color:white;
}

.menu ul{
	margin:0;
	padding:0; 
	list-style:none;
	line-height:60px;
}

.menu li{
	float:left;
}

.menu ul li a{
	text-decoration:none;
	width:130px;
	display: block;
	text-align: center;
	font-size: 18px;
	letter-spacing:0px;
	font-weight: 700;
	color: white;
}

.menu li a:hover{
	background:rgba(80,80,80,0.7);
	font-size: 19px;
}

/*.search-from{
	margin-top:15px;
	float:right;
	margin-right:100px;
	padding-top: 10px;
}*/

form{
	float:right;
	margin-top: 10px;
	margin-right: 15px;
}

input[type=text]{
	padding:7px;
	border:none;
	font-size: 17px;
}
button{
	float:right;
	color:white;
	border-radius:0 5px 5px 0;
	cursor:pointer;
	position:relative;
	padding:8px;
	border:none;
	font-size: 16px;
	
}

/*
ul{
	width:100%;
	margin:0 auto;
	
	font-weight: 700;
	font-size: 1.3rem;
}

ul li{
	list-style:none;
	display:inline-block;
	padding: 10px;
}


ul li:hover{
	background:rgba(80,80,80,0.7);
}

ul li a{
	color: white;
	text-decoration:none;
}
*/

/*.landing input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom:8px;
  font-size: 17px;
  border: 1px solid #ccc;
}

.landing a, .landing input[type=text], .landing .bar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }*/
/*@media screen and (max-width: 600px) {
  .landing a, .landing input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
*/




/*
@media (max-width: 768px){
	.toggle{
		display:block;
	}
	ul{
		width:100%;
	}

	ul li{
		display: block;
		text-align: center;
	}
}
*/

/*
.navbar{
	
	font-weight:600;
	font-size:1.5rem;
	background:rgba(80,80,80,0.5) !important;
}
.navbar-nav li{
	padding-right:0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color:white;
	padding-top: 0.8rem;
} 

.navbar-dark .navbar-nav .nav-link:hover{
	color:rgb(186,186,186);
} 


*/



.caption{
	width:100%;
	max-width:100%;
	position: absolute;
	top: 35%;
	z-index:1;
	color: white;
	text-align: center

}


.caption h1{
	font-size:5rem;
	font-weight: 700;
	text-shadow: 0.1rem 0.1rem 0.8rem black; 
	margin:0px;
	/*padding-bottom:0.5rem;*/
}

.caption h3{
	font-size:2rem;
	font-weight: 500;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	margin:0px;
}

.caption img{
	padding-top:15px;
	padding-bottom:15px;
  	-webkit-filter: drop-shadow(5px 5px 5px #222);
  	filter: drop-shadow(5px 5px 5px #222);
}

.caption .eight{
	padding-left:28%;

}

/*.caption .eight .one{
	text-decoration: none;
	font-weight: 400;
	color:white;
	font-size:1.5rem;
}
*/
.caption .eight a:nth-child(1){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;


}

.caption .eight a:nth-child(2){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}

.caption .eight a:nth-child(3){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}

.caption .eight a:nth-child(4){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}

.caption .eight a:nth-child(5){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}

.caption .eight a:nth-child(6){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}

.caption .eight a:nth-child(7){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}

.caption .eight a:nth-child(8){
	text-decoration: none;
	float:left;
	padding: 10px;
	color:white;
	font-weight: 700;
	font-size:1.5rem;
}









